<nav class="navbar navbar-expand-lg custom-nav">
    <div class="container d-flex justify-content-between align-items-center">

        <span class="navbar-brand text-white fw-bold">
            Helmet Rental
        </span>

        <div>

            {% if back_url %}
            <a href="{{back_url}}" class="btn btn-light btn-sm me-2">
                ← Back
            </a>
            {% endif %}

            <!-- DARK MODE TOGGLE -->
            <button id="themeToggle" class="btn btn-light btn-sm me-2">
                🌙
            </button>

            <a href="/logout" class="btn btn-danger btn-sm">
                Logout
            </a>

        </div>

    </div>
</nav>